body {
  background-color: #b0d0ff;
}

.stackRow {
  width: 100%;
  height: 50px;
}

.stackLabel {
  width: 10%;
  height: 50px;
  font-size: 25px;
  text-align: left;
  color: #3f3f3f;
  float: left;
  padding-top: 10px;
}

.stack {
  width: 90%x;
  height: 50px;
  font-size: 38px;
  text-align: right;
  color: #000000;
 }

.statusRow {
  width: 100%;
  height: 30px;
}

.statusNull {
  width: 5%;
  height: 25px;
  font-size: 20px;
  text-align: left;
  color: #000000;
  float: left;
  padding-top: 5px;
}

.statusShift {
  width: 20%;
  height: 25px;
  font-size: 20px;
  text-align: left;
  color: #000000;
  float: left;
  padding-top: 5px;
}

.statusHyp {
  width: 20%;
  height: 25px;
  font-size: 20px;
  text-align: left;
  color: #000000;
  float: left;
  padding-top: 5px;
}

.statusDRG {
  width: 20%;
  height: 25px;
  font-size: 20px;
  text-align: left;
  color: #000000;
  float: left;
  padding-top: 5px;
}

.statusOther {
  width: 35%x;
  height: 25px;
  font-size: 20px;
  text-align: left;
  color: #000000;
  padding-top: 5px;
 }

.btn-custom {
  border-top:1px solid #5f5f5f;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #1f1f1f;
  border-right: 1px solid #1f1f1f;
  background-color: #3f3f3f;
  color: #ffffff;
  margin: 3px;
  padding: 1px;
}

.btn-custom:hover {
  background: #3f6fff !important;
  border: solid 1px #2A4E77;
  text-decoration: none;
  color: white;
}

.btn-custom:hover.color-yellow {
  background: #3f6fff !important;
  border: solid 1px #2A4E77;
  text-decoration: none;
  color: black;
}

.btn-custom:focus {
  color: white;
}

.btn-custom:focus.color-yellow {
  color: black;
}

.btn-custom:active {
  background: #0000ff !important;
  border: solid 1px #203E5F;
}

.btn-numeric {
  height: 50px;
  line-height: 50px;
  width: 79px;
  text-align: ;
  font-size: 38px;
  margin-bottom: 0px;
}

.btn-enter {
  height: 50px;
  line-height: 50px;
  width: 170px;
  text-align: center;
  font-size: 38px;
}

.btn-func {
  height: 44px;
  line-height: 44px;
  width: 65px;
  text-align: center;
  font-size: 28px;
}

.lbl-numeric {
  height: 18px;
  width: 89px;
  text-align: center;
  font-size: 18px;
  color: #ffff00;
  float: left;
}

.lbl-enter {
  height: 18px;
  width: 170px;
  text-align: center;
  font-size: 18px;
  color: #ffff00;
  float: left;
}

.lbl-func {
  height: 15px;
  width: 74px;
  text-align: center;
  font-size: 15px;
  color: #ffff00;
  float: left;
}
.color-yellow {
  background-color: #efef00;
  color: #000000;
}

.color-red {
  background-color: red;
}

.w50 {
  height: 15px;
  width: 50px;
  float: left;
  margin: 5px;
}

.w75 {
  height: 15px;
  width: 75px;
  float: left;
  margin: 5px;
  color: #efef00;
}

.w100 {
  height: 15px;
  width: 100px;
  float: left;
  margin: 5px;
  color: #efef00;
}

.w125 {
  height: 15px;
  width: 125px;
  float: left;
  text-align: left;
  color: #efef00;
  margin: 5px;
  color: #efef00;
}

.w150 {
  height: 25px;
  width: 150px;
  font-size: 15px;
  float: left;
  text-align: right;
  background-color: #ffffff;
  border: 2px groove;
  margin-left: 5px;
  padding: 1px;
  margin: 5px;
}

.w200 {
  height: 15px;
  width: 200px;
  float: left;
  text-align: left;
  margin: 5px;
  color: #efef00;
}


#fixDecimals {
  width: 40px;
  height: 25px;
  float: left;
  border: 2px groove;
  margin-right: 5px;
}

#memNumber {
  width: 40px;
  height: 25px;
  float: left;
  border: 2px groove;
  margin-right: 5px;
}

#decPositions {
  width: 30px;
  height: 25px;
  float: left;
  background-color: #cfcfcf;
  border: 2px groove;
  margin-left: 5px;
}

#CalcSkin {
  position: relative;
  width: 456px;
  height:799px;
  background-color: #5f5f5f;
  margin-top:30px;
  border-top:2px solid #9f9f9f;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #3f3f3f;
  border-right: 2px solid #3f3f3f;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;  
}

#CalcScreen {
  position: absolute;
  width: 444px;
  height: 230px;
  background-color: #7f9f7f;
  left: 5px;
  top: 5px;
}

#Fix {
  position: absolute;
  width: 222px;
  height: 50px;
  left: 5px;
  top: 240px;
}

.fp {
  height: 15px;
  width: 25px;
  font-size: 15px;
  float: left;
}

#Mem {
  position: absolute;
  width: 222px;
  height: 50px;
  left: 227px;
  top: 240px;
}

#Keypad {
  position: absolute;
  width: 446px;
  height: 490px;
  background-color: #5f5f5f;
  left: 5px;
  top: 300px;
}
